@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&display=swap');

:root{
    --black: #000000;
    --white: #ffffff;

    --meu-gradiente: linear-gradient(182deg,rgba(64, 58, 180, 1) 15%, rgba(29, 186, 253, 1) 100%);


    --montserrat: "Montserrat", sans-serif;
}